* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base {
    top: 0;
    height: 500vh;
}

#research {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

.intro {
    position: absolute;
    z-index: -1;
    background: url("./images/research-intro.jpg") no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
}

.introtext {
    position: relative;
    text-align: center;
    top: 45%;
    font-family: 'Playfair Display';
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -3px;
    color: white;
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.casetext {
    position: relative;
    top: 60%;
    font-family: 'Playfair Display';
    font-size: 60px;
    font-weight: 100;
    left: 5%;
    color: white;
}

.casetext2 {
    position: relative;
    top: 60%;
    font-family: 'Playfair Display';
    font-size: 30px;
    left: 5%;
    color: white;
}

#linkText {
    position: relative;
    width: 105%;
    height: 105%;
    line-height: 46px;
    font-family: Gill Sans;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: -3px;
}

#linkText:hover {
    color: rgb(20, 20, 20);
}

.case1 {
    position: absolute;
    background: url("./images/XrayDetector.jpg") no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 100vh;
}

#hoverLink {
    position: absolute;
    top: 90%;
    left: 5%;
    width: 160px;
    height: 50px;
    border: white;
    border-style: solid;
    border-width: 2.9px;
    box-shadow: inset 0 0 0 0 white;
    background: transparent;
    transition: ease-out 0.3s;
}

#hoverLink:hover {
    box-shadow: inset 0 -50px 0 0 ghostwhite;
    cursor: pointer;
}

.case2 {
    position: absolute;
    background: url("./images/SoundingRocket.JPG") no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 200vh;
}

.case3 {
    position: absolute;
    background: url("./images/Rocket.JPG") no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 300vh;
}

.case4 {
    position: absolute;
    background: url("./images/Satellite.jpg") no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 400vh;
}

.fade-in {
    opacity: 0;
    transition: all 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(-60px);
}

body {
    background-color: black;
    margin: 0 auto;
}