.left {
    float: left;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.right {
    float: left;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    position: relative;
    width: 70%;
    margin-top: 130px;
}

.content-title {
    color: white;
    font-family: Gill Sans;
    font-size: 45px;
    border-bottom: solid white 1px;
    font-weight: 600;
}

.content-subtitle {
    color: white;
    font-family: Gill Sans;
    font-size: 30px;
    margin-top: 25px;
}

.content-subtitle2 {
    color: white;
    font-family: Gill Sans;
    font-size: 25px;
    margin-top: 25px;
}

.content {
    color: white;
    font-family: Gill Sans;
    margin-top: 15px;
    line-height: 1.6;
    font-size: 1.25vw;
    font-weight: 120;
}

.content-list {
    margin-left: 20px;
    color: white;
    font-family: Gill Sans;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.25vw;
    font-weight: 120;
}

figure {
    position: relative;
    display: inline-block;
}

.image {
    margin: 0 auto;
    display: block;
    width: 85%;
    border: solid white 3px;
    border-radius: 5px;
}

.image-text {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Gill Sans;
    margin-top: 15px;
    line-height: 1.2;
    font-size: 1vw;
    font-weight: 120;
}

.fade-in {
    opacity: 0;
    transition: all 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(-60px);
}